.header {
   padding: 17px 0 17px 0;
   border-bottom: 1px solid #D6D6D6;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__login {
      display: flex;
      align-items: center;
      gap: 35px;

      @media(max-width:992px) {
         gap: 10px;
         display: none;
      }
   }

   &__login-link {
      color: #000000;
      transition: all .3s ease;

      &:hover {
         color: #FFFFFF;
         opacity: .8;
      }

      @media(max-width:992px) {
         font-size: 18px;
      }
   }

}

.sign:hover {
   color: #01996D;
}

.btn {
   padding: 0 50px;
   min-height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #01996D;
   border: 1px solid #01996D;
   border-radius: 4px;
}

.btn--white {
   color: #FFFFFF;
}

.nav {

   &__menu {
      display: flex;
      gap: 70px;

      @media(max-width:1199px) {
         gap: 40px;
      }

      @media(max-width:992px) {
         gap: 20px;
         display: none;
      }
   }

   &__link {
      color: #292929;
      transition: all .3s ease;

      &:hover {
         color: #01996D;
      }

      @media(max-width:992px) {
         font-size: 18px;
      }
   }
}



.header {

   &__mobile-nav {}
}

.mobile-nav {
   cursor: pointer;
   padding: 0;
   border: none;
   background: transparent;

   position: relative;
   z-index: 999;
   width: 40px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;

   &__icon {
      display: block;
      position: relative;
      width: 40px;
      height: 5px;
      background: #000;
   }

   &__icon::after,
   &__icon::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 5px;
      background: #000;

      transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
   }

   &__icon::before {
      left: 0;
      top: -10px;
   }

   &__icon::after {
      left: 0;
      top: 10px;
   }

   &__icon:active {
      background-color: transparent;
   }

   &__icon:active::before {
      transform: rotate(45deg);
      top: 0;

      transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
   }

   &__icon:active::after {
      transform: rotate(-45deg);
      top: 0;

      transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
   }
}