.how {
   padding: 170px 0 50px 0;

   &__inner {}

   &__head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
   }

   &__head-main {
      margin-right: 30px;
   }

   &__head-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 157%;
   }

   &__head-subtitle {
      font-family: 'Georgia', sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 157%;
      color: #01996D;
      max-width: 584px;
   }

   &__head-text {
      padding-top: 58px;
      max-width: 671px;
   }

}

.how {

   &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, 390px);
      column-gap: 95px;
   }

   &__card {
      max-width: 390px;
   }

   &__card:nth-child(2) {
      padding-top: 289px;
   }

   &__card:nth-child(3) {
      padding-top: 54px;
   }

   &__card-title {
      padding-top: 135px;
      padding-left: 88px;
      margin-bottom: 55px;
      font-family: 'Georgia', sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 150%;
      color: #000000;
      position: relative;

      &::before {
         position: absolute;
         top: 0;
         left: 0;
         content: attr(data-number);
         font-family: 'Georgia', sans-serif;
         font-weight: 400;
         font-size: 150px;
         line-height: 150%;
         color: rgba(1, 153, 109, 0.2);
      }
   }

   &__card-text {
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
   }

   &__card-img {
      width: 100%;
      height: auto;
      object-fit: cover;
   }
}

@media (max-width:1302px) {
   .how__head-text {
      max-width: 580px;
      font-size: 18px;
   }

   .how__head-subtitle {
      font-size: 44px;
   }

   .how__cards {
      grid-template-columns: repeat(auto-fit, 1fr);
   }
}


@media (max-width:1025px) {
   .how__head {
      flex-direction: column;
   }

   .how__head-text {
      padding-top: 28px;
   }

   .how__card:nth-child(2), .how__card:nth-child(3) {
      padding-top: 0;
  }
}