.mobile-nav-menu {
   display: none;
   position: fixed;
   z-index: 99;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgb(240, 255, 255, 0.9);
   padding: 90px 25px;
   text-align: center;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 15px;

   .mobile-nav-menu:active {
      display: flex;
   }
}



.mobile {

   &__nav {
   }

   &__nav-menu {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   &__nav-item {}

   &__nav-link {}

   &__login {}

   &__login-link {}
}