.products {
   padding: 120px 0 170px 0;

   &__inner {
      display: flex;
   }

   &__cards {}

   &__content {
      max-width: 584px;
   }

   &__content-title {
      font-weight: 600;
      font-size: 25px;
      line-height: 157%;
   }

   &__content-title+* {
      margin-top: 10px;
   }

   &__content-subtitle {
      font-family: 'Georgia', sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 157%;
      color: #01996D;
   }

   &__content-subtitle+* {
      margin-top: 20px;
   }

   &__content-text {
      font-weight: 400;
      font-size: 20px;
      line-height: 31px;
      color: #484848;
      max-width: 530px;
   }

   &__content-text+* {
      margin-top: 40px;
   }

   &__content-link {
      padding: 20px 50px;
      min-height: 50px;
      display: inline-block;
      background: #01996D;
      border: 1px solid #01996D;
      border-radius: 4px;
      color: #fff;
   }
}


.cards {
   position: relative;
   margin-right: 86px;
   max-width: 700px;
   padding-left: 60px;
   padding-bottom: 75px;

   &__img {
      width: 100%;
      height: auto;
      object-fit: cover;
   }

   &__card {}
}

.card {
   padding: 20px 50px 30px 50px;
   position: absolute;
   bottom: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   background: #FFFFFF;
   border-radius: 3.72971px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

   &__title {
      font-weight: 600;
      font-size: 14.49px;
      line-height: 157%;
      color: #000000
   }

   &__avatar {}

   &__name {
      font-weight: 400;
      font-size: 11.9351px;
      line-height: 157%;
      color: #000000;
   }

   &__subtitle {
      font-weight: 700;
      font-size: 15.9292px;
      line-height: 157%;
      color: #000000;
   }

   &__item {
      font-weight: 400;
      font-size: 10.6195px;
      line-height: 157%;
      color: #000000;
   }
}


@media (max-width:1093px) {

   .products {
      padding: 50px 0 70px 0;
   }

   .card {
      position: inherit;
   }

   .products__content-subtitle {
      font-size: 35px;
   }

   .products__content-text {
      font-size: 18px;
   }

   .products__content-link {
      padding: 10px 35px;
   }

   .products__content {
      flex: 1 1 auto;
   }
}

@media (max-width:992px) {
   .products__inner {
      flex-direction: column;
      align-items: center;
   }
}